// #region SCSS variables
$color--tan: #EEE7DB;
$color--red: #AD4126;
$color--green: #C7DA97;
$color--blue: #6D83E1;
$color--coffee: #261B06;
$color--black: #281A03;
$color--white: #FAF9F6;
$color--gray: #aaa;

$text--heading-1: 4rem;
$text--heading-2: 2.75rem;
$text--heading-3: 2.2rem;
$text--heading-4: 1.2rem;

$text--paragraph-1: 1.4rem;
$text--paragraph-2: 1rem;
$text--paragraph-3: 0.8854rem;
$text--monospace: 1rem;
// #endregion