---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Nunchi Health";
---


<BaseLayout pageTitle={pageTitle}>
    <h1> We are making mental health support accessible for young people worldwide. </h1>
</BaseLayout>