---
---

<div class="search-wrapper">
  <input class="search-bar" type="search" value="" placeholder="Search" aria-label="Search">
</div>

<style lang="scss">
    .search-wrapper {
        width: 100%;
        display: block;
        box-sizing: border-box;
    }

    .search-bar {
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
        line-height: normal;
        color: inherit;
        
        width: 100%;
        min-height: 20px;
        box-sizing: border-box;

        -webkit-appearance: none;
        appearance: none;

        padding: 12px 12px 12px 45px;

        border: 1px solid #aaa;
        background-color: transparent;
        opacity: 0.7;
        transition: opacity 0.2s ease-out, border-color 0.2s ease-out;

        background-image: url('../../assets/search.png');
        background-repeat: no-repeat;
        background-position: 15px 50%;

        &::placeholder {
            color: #666;
            opacity: 1;
        }

        &:hover {
            opacity: 1;
        }

        &:focus {
            opacity: 1;
            outline: none; 
            border-color: #333; 
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            appearance: none;
        }
    }
</style>